<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName">
    <div *ngIf="myForm.get('firstName')?.hasError('required')">
      First Name is required.
    </div>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName">
    <div *ngIf="myForm.get('lastName')?.hasError('required')">
      Last Name is required.
    </div>
  </div>
  <button type="submit">Submit</button>
</form>